tools/twb_builder/twb_builder/validate/xml_ns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Minimal stub for the W3C XML namespace (http://www.w3.org/XML/1998/namespace).
  The official schema lives at https://www.w3.org/2001/xml.xsd; we define only
  what the TWB XSD references, to avoid network access during validation.
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.w3.org/XML/1998/namespace"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    elementFormDefault="qualified">
  <xs:attribute name="base" type="xs:anyURI"/>
  <xs:attribute name="lang" type="xs:string"/>
  <xs:attribute name="space">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="default"/>
        <xs:enumeration value="preserve"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="id" type="xs:ID"/>
</xs:schema>
